<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blog Site</title>
    <div th:replace="/fragments/styling :: head-style"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 style="text-align: center;">Welcome to Our Blog Post Site!</h1>
    <div class="container-fluid">
        <div class="row">
            <div th:each="blog:${posts}">
                <div class="col-md-12">
                    <div class="panel panel-default panel-index">
                        <div class="panel-heading">
                            <h2 th:text="${blog.title}"></h2>
                        </div>
                        <div class="panel-body">
                            <strong>
                                <p th:text="${blog.author}"></p>
                            </strong>
                            <p th:text="${blog.blogEntry}"></p>
                        </div>
                        <div class="panel-footer">
                            <div class="card-footer">
                                <button class="btn btn-primary"><a href="#"
                                        th:href="@{blogposts/{id}(id=${blog.id})}">Edit Post</a></button>
                                <form action="#" th:action="@{'/blogposts/{id}'(id=${blog.id})}" th:method="delete"
                                    class="form-horizontal">
                                    <div class="form-group">
                                        <input type="hidden" name="_method" value="delete" />
                                        <button type="submit" class="btn btn-danger btn-block"
                                            onclick="return DeletusMaximus()"
                                            th:text="Delete">Delete
                                            Post</button>
                                    </div><!-- onclick="if (!confirm('Are you sure you want to delete this Blog Entry?')) { return false }" -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function DeletusMaximus() {
            let result = confirm('Are you sure you want to delete this Blog Post?')
            if (!result) {
                return false
            }
        }
    </script>

    <div th:replace="/fragments/styling :: body-links"></div>
</body>

</html>